.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 6182.95px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 62px;
}

#uvod
{
	left: -100px;
	position: relative;
}

#u508
{
	z-index: 273;
	width: 180px;
	position: fixed;
	top: 66px;
	left: 84px;
}

#u320-4
{
	z-index: 143;
	width: 128px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: fixed;
	top: 275px;
	left: 110px;
}

#u320-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u320-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u322-4
{
	z-index: 147;
	width: 128px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: fixed;
	top: 295px;
	left: 110px;
}

#u320-4.MuseLinkActive,#u322-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u322-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u188-10
{
	z-index: 16;
	width: 526px;
	min-height: 195px;
	text-align: center;
	line-height: 34px;
	font-size: 24px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-left: 217px;
	margin-top: 277px;
	position: relative;
}

#pu323-4
{
	width: 0.01px;
	padding-bottom: 205px;
	margin-left: 10px;
	top: -218px;
	margin-bottom: -205px;
	position: relative;
}

#u323-4
{
	z-index: 151;
	width: 187px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: fixed;
	top: 315px;
	left: 110px;
}

#u322-4.MuseLinkActive,#u323-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u323-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u324-4
{
	z-index: 155;
	width: 87px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: fixed;
	top: 335px;
	left: 110px;
}

#u323-4.MuseLinkActive,#u324-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u324-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u325-4
{
	z-index: 159;
	width: 73px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: fixed;
	top: 355px;
	left: 110px;
}

#u324-4.MuseLinkActive,#u325-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u325-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u656-4
{
	z-index: 163;
	width: 104px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: fixed;
	top: 375px;
	left: 110px;
}

#u325-4.MuseLinkActive,#u656-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u656-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u327-4
{
	z-index: 167;
	width: 187px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: fixed;
	top: 437px;
	left: 110px;
}

#u656-4.MuseLinkActive,#u327-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u327-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u328-4
{
	z-index: 171;
	width: 173px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: fixed;
	top: 457px;
	left: 110px;
}

#u327-4.MuseLinkActive,#u328-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u328-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u328-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u320-4.MuseLinkActive p,#u322-4.MuseLinkActive p,#u323-4.MuseLinkActive p,#u324-4.MuseLinkActive p,#u325-4.MuseLinkActive p,#u656-4.MuseLinkActive p,#u327-4.MuseLinkActive p,#u328-4.MuseLinkActive p
{
	color: #FF0000;
	visibility: inherit;
}

#u332-4
{
	z-index: 175;
	width: 173px;
	min-height: 20px;
	line-height: 19px;
	color: #7F7F7F;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: fixed;
	top: 500px;
	left: 110px;
}

#u351-5
{
	z-index: 185;
	width: 100px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-left: 430px;
	margin-top: 139px;
	position: relative;
}

#u351-5:hover
{
	background-color: #FF0000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 100px;
	margin: 139px 0px 0px 430px;
}

#u351
{
	line-height: 32px;
}

#u351-3
{
	line-height: 34px;
}

#u347
{
	z-index: 15;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: #F6F6F6;
	padding-bottom: 0px;
	position: relative;
	left: -100px;
	margin-top: 318px;
}

#u347_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 43px;
}

#u288-4
{
	z-index: 26;
	display: block;
	vertical-align: top;
	left: 318px;
	margin-top: 91px;
	position: relative;
}

#u291-4
{
	z-index: 50;
	width: 261px;
	min-height: 24px;
	text-align: left;
	line-height: 24px;
	color: #7F7F7F;
	font-size: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u293-4
{
	z-index: 133;
	width: 261px;
	min-height: 24px;
	text-align: left;
	line-height: 24px;
	color: #7F7F7F;
	font-size: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 374px;
}

#u393-4
{
	z-index: 54;
	width: 261px;
	min-height: 125px;
	text-align: left;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u394-4
{
	z-index: 79;
	width: 261px;
	min-height: 125px;
	text-align: left;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 374px;
}

#pu297-4
{
	width: 0.01px;
	left: 260px;
	margin-top: 33px;
	position: relative;
}

#u297-4
{
	z-index: 129;
	width: 261px;
	min-height: 33px;
	text-align: left;
	line-height: 24px;
	color: #7F7F7F;
	font-size: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u296-6
{
	z-index: 137;
	width: 261px;
	min-height: 47px;
	text-align: left;
	line-height: 24px;
	color: #7F7F7F;
	font-size: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 374px;
}

#pu396-5
{
	width: 0.01px;
	left: 260px;
	margin-top: 22px;
	position: relative;
}

#u396-5
{
	z-index: 58;
	width: 261px;
	min-height: 125px;
	text-align: left;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u397-4
{
	z-index: 75;
	width: 261px;
	min-height: 125px;
	text-align: left;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 374px;
}

#spolecne
{
	margin-top: 41px;
	position: relative;
}

#u303-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	left: 318px;
	margin-top: 102px;
	position: relative;
}

#u304-4
{
	z-index: 83;
	width: 261px;
	min-height: 30px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-size: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 447px;
	margin-top: 99px;
	position: relative;
}

#u399-4
{
	z-index: 63;
	width: 517px;
	min-height: 125px;
	text-align: center;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	left: 322px;
	margin-top: 18px;
	position: relative;
}

#vzhled
{
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u311-4
{
	z-index: 38;
	display: block;
	vertical-align: top;
	left: 318px;
	margin-top: 82px;
	position: relative;
}

#pu291-4,#pu312-4
{
	width: 0.01px;
	left: 260px;
	margin-top: 119px;
	position: relative;
}

#u312-4
{
	z-index: 95;
	width: 261px;
	min-height: 29px;
	text-align: left;
	line-height: 24px;
	color: #7F7F7F;
	font-size: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u651-4
{
	z-index: 99;
	width: 261px;
	min-height: 29px;
	text-align: left;
	line-height: 24px;
	color: #7F7F7F;
	font-size: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 374px;
}

#pu402-4
{
	width: 0.01px;
	left: 260px;
	margin-top: 23px;
	position: relative;
}

#u402-4
{
	z-index: 111;
	width: 261px;
	min-height: 109px;
	text-align: left;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u652-4
{
	z-index: 115;
	width: 261px;
	min-height: 109px;
	text-align: left;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 374px;
}

#cesty
{
	margin-top: 73px;
	position: relative;
}

#u314-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	left: 243px;
	margin-top: 102px;
	position: relative;
}

#pu315-4
{
	width: 0.01px;
	left: 260px;
	margin-top: 124px;
	position: relative;
}

#u315-4
{
	z-index: 87;
	width: 261px;
	min-height: 50px;
	text-align: left;
	line-height: 24px;
	color: #7F7F7F;
	font-size: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u343-4
{
	z-index: 91;
	width: 261px;
	min-height: 50px;
	text-align: left;
	line-height: 24px;
	color: #7F7F7F;
	font-size: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 374px;
}

#pu393-4,#pu404-4
{
	width: 0.01px;
	left: 260px;
	margin-top: 25px;
	position: relative;
}

#u404-4
{
	z-index: 67;
	width: 261px;
	min-height: 125px;
	text-align: left;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u406-4
{
	z-index: 71;
	width: 261px;
	min-height: 125px;
	text-align: left;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 374px;
}

#podpora
{
	margin-top: 100px;
	position: relative;
}

#u335-4
{
	z-index: 42;
	display: block;
	vertical-align: top;
	left: 317px;
	margin-top: 91px;
	position: relative;
}

#u409-4
{
	z-index: 103;
	width: 635px;
	min-height: 29px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-size: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 260px;
	margin-top: 127px;
	position: relative;
}

#puzemni-plan
{
	width: 0.01px;
	margin-top: 21px;
	position: relative;
}

#uzemni-plan
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 91px;
}

#u410-4
{
	z-index: 119;
	width: 635px;
	min-height: 109px;
	text-align: center;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u660-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	left: 317px;
	margin-top: 117px;
	position: relative;
}

#u661-4
{
	z-index: 107;
	width: 635px;
	min-height: 29px;
	text-align: center;
	line-height: 24px;
	color: #7F7F7F;
	font-size: 17px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 260px;
	margin-top: 127px;
	position: relative;
}

#u662-6
{
	z-index: 123;
	width: 635px;
	min-height: 167px;
	text-align: center;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	left: 260px;
	margin-top: 22px;
	position: relative;
}

#kandidati
{
	margin-top: 136px;
	position: relative;
}

#pu459
{
	width: 0.01px;
	margin-left: 143px;
	margin-top: 135px;
	position: relative;
}

#u459
{
	z-index: 192;
	width: 150px;
	height: 150px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/zbysek-2.jpg") no-repeat center top;
}

#u465
{
	z-index: 198;
	width: 150px;
	height: 150px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 262px;
	background: #FFFFFF url("../images/ja.jpg") no-repeat center top;
}

#u557
{
	z-index: 193;
	width: 150px;
	height: 150px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 529px;
	background: #FFFFFF url("../images/jirkastudnicka.png") no-repeat center top;
}

#u460-4
{
	z-index: 201;
	width: 319px;
	min-height: 27px;
	text-align: center;
	line-height: 31px;
	color: #7F7F7F;
	font-size: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u559-4
{
	z-index: 205;
	width: 319px;
	min-height: 27px;
	text-align: center;
	line-height: 31px;
	color: #7F7F7F;
	font-size: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 529px;
}

#u461-4
{
	z-index: 225;
	width: 319px;
	min-height: 27px;
	text-align: center;
	line-height: 31px;
	color: #7F7F7F;
	font-size: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 261px;
}

#u463-4
{
	z-index: 237;
	width: 285px;
	min-height: 29px;
	text-align: center;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 278px;
}

#u517-4
{
	z-index: 249;
	width: 285px;
	min-height: 29px;
	text-align: center;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u560-4
{
	z-index: 253;
	width: 285px;
	min-height: 29px;
	text-align: center;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 544px;
}

#pu524
{
	width: 0.01px;
	margin-left: 143px;
	margin-top: 79px;
	position: relative;
}

#u524
{
	z-index: 194;
	width: 150px;
	height: 150px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/evafortova-2.jpg") no-repeat center top;
}

#u525
{
	z-index: 199;
	width: 150px;
	height: 150px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 262px;
	background: #FFFFFF url("../images/radekbubela-2.jpg") no-repeat center top;
}

#u558
{
	z-index: 195;
	width: 150px;
	height: 150px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 529px;
	background: #FFFFFF url("../images/karel-honzour.jpg") no-repeat center center;
}

#u528-4
{
	z-index: 209;
	width: 319px;
	min-height: 27px;
	text-align: center;
	line-height: 31px;
	color: #7F7F7F;
	font-size: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u561-4
{
	z-index: 213;
	width: 319px;
	min-height: 27px;
	text-align: center;
	line-height: 31px;
	color: #7F7F7F;
	font-size: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 529px;
}

#u529-4
{
	z-index: 229;
	width: 319px;
	min-height: 27px;
	text-align: center;
	line-height: 31px;
	color: #7F7F7F;
	font-size: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 261px;
}

#u526-4
{
	z-index: 241;
	width: 285px;
	min-height: 29px;
	text-align: center;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 278px;
}

#u527-4
{
	z-index: 257;
	width: 285px;
	min-height: 29px;
	text-align: center;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 16px;
}

#u562-4
{
	z-index: 261;
	width: 285px;
	min-height: 29px;
	text-align: center;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 544px;
}

#pu530
{
	width: 0.01px;
	margin-left: 143px;
	margin-top: 71px;
	position: relative;
}

#u530
{
	z-index: 196;
	width: 150px;
	height: 150px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/landsinger.jpg") no-repeat center center;
}

#u531
{
	z-index: 200;
	width: 150px;
	height: 150px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 262px;
	background: #FFFFFF url("../images/vasekfric-2.jpg") no-repeat center top;
}

#u563
{
	z-index: 197;
	width: 150px;
	height: 150px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 529px;
	background: #FFFFFF url("../images/jirimohyla.jpg") no-repeat center center;
}

#pu460-4,#pu528-4,#pu534-4
{
	width: 0.01px;
	margin-left: 60px;
	margin-top: 41px;
	position: relative;
}

#u534-4
{
	z-index: 217;
	width: 319px;
	min-height: 27px;
	text-align: center;
	line-height: 31px;
	color: #7F7F7F;
	font-size: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u565-4
{
	z-index: 221;
	width: 319px;
	min-height: 27px;
	text-align: center;
	line-height: 31px;
	color: #7F7F7F;
	font-size: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 529px;
}

#u535-4
{
	z-index: 233;
	width: 319px;
	min-height: 27px;
	text-align: center;
	line-height: 31px;
	color: #7F7F7F;
	font-size: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 261px;
}

#u532-4
{
	z-index: 245;
	width: 285px;
	min-height: 29px;
	text-align: center;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 278px;
}

#u533-4
{
	z-index: 265;
	width: 285px;
	min-height: 29px;
	text-align: center;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 16px;
}

#u564-4
{
	z-index: 269;
	width: 285px;
	min-height: 29px;
	text-align: center;
	color: #000000;
	font-size: 15px;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 544px;
}

#u630
{
	z-index: 2;
	width: 1160px;
	border-color: #000000;
	background-color: #F6F6F6;
	position: relative;
	left: -100px;
	margin-top: 61px;
}

#u630_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-bottom: 548px;
}

#finance,#ptejte-se
{
	position: relative;
}

#u643-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	left: 329px;
	margin-top: 277px;
	position: relative;
}

#u646-4
{
	z-index: 7;
	left: 531px;
	margin-top: 32px;
	position: relative;
}

#u647-4
{
	z-index: 11;
	left: 531px;
	margin-top: 13px;
	position: relative;
}

#u646-4_img,#u647-4_img
{
	display: block;
	vertical-align: top;
}

body
{
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

